html, body {
  height: 100%;
  width: 100%;
}
#contagem{
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 25px;
    font-weight: bold;
	}  
#Usuario{
    background-color: #040F3C;
    width: 300px;
    height: 350px;
    border-radius: 20px;
}
#login{
    color: #F4200A;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 25px;
}
#nome{
    color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 20px;
    margin-right: 90px;
    font-weight: bold;
}
#caixa{
border-radius: 20px;
padding: 3px 7px;
}
#senha{
 color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 20px;
    margin-right: 105px;
    font-weight: bold;
}
#esqueceu{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #F4200A;
    margin-left: 50px;
}
#botao{
    background-color: #F4200A;
    border: none;
    color: #040F3C;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 15px 5px;
    cursor: pointer;
    border-radius: 20px;
}
#botão{
  background-color: white;
    border: none;
    color: #040F3C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 154px;
    cursor: pointer;
    border-radius: 20px;
      }
.span {
   color: white;
}