html, body {
  height: 100%;
  width: 100%;
}
#circulo3{
background-color: #040F3C;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
#cadastro{
    color: #F4200A;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 25px;
}
#nome{
    color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 18px;
    margin-right: 25px;
    font-weight: bold;
}
#caixa{
border-radius: 20px;
}
#email{
color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
}
#crie{
color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 18px;
    margin-right: 37px;
    font-weight: bold;
}
#repita{
color: #F4200A;
    font-family: "Georgia", serif;
    font-size: 18px;
    margin-right: 40px;
    font-weight: bold;
}
#botao {
background-color: #F4200A;
    border: none;
    color: #040F3C;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 15px 5px;
    cursor: pointer;
    border-radius: 20px;
  }